.col-md-6.col-md-offset-3
    %h1="Account Settings for #{@user.email}"
    %form{method: 'post'}
        .form-group
            %label{for: "email"} Email address
            %input#email.form-control{placeholder: "Enter email", type: "email", name: "email", value: @user.email}
        .form-group
            %label{for: "password"} Password
            %input#password.form-control{placeholder: "Blank for no change", type: "password", name: "password"}
        .form-group
            %label{for: "password_confirmation"} Confirm Password
            %input#password_confirmation.form-control{type: "password", name: "password_confirmation"}
        %button.btn.btn-primary{type: "submit"} Submit