.col-md-6.col-md-offset-3
    %h1="Account Settings for #{@user.email}"
    %form{method: 'post'}
        .form-group
            %label{for: "user[email]"} Email address
            %input#email.form-control{placeholder: "Enter email", type: "email", name: "user[email]", value: @user.email}
        .form-group
            %label{for: "current_password"} Current Password
            %input#password.form-control{placeholder: "your password", type: "password", name: "current_password"}
        .form-group
            %label{for: "user[password]"} New Password
            %input#password.form-control{placeholder: "Blank for no change", type: "password", name: "user[password]"}
        .form-group
            %label{for: "password_confirmation"} Confirm New Password
            %input#password_confirmation.form-control{type: "password", name: "user[password_confirmation]"}
        %button.btn.btn-primary{type: "submit"} Submit