!!!
%html
    %head
        %link(rel="stylesheet" href="/css/style.min.css")
        %link(rel="icon" href="/favicon.ico")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %title= @title || settings.app_name
    %body
        .navbar.navbar-default.navbar-fixed-top
            =haml :navbar
        .container#content-main
            -flash.each do |type, value|
                .row
                    .col-md-6.col-md-offset-3
                        .alert{class: "alert-#{type}"}
                            %p=value
            =yield
        #footer
            .container
                .row
                    %p Built by <a href="http://qrohlf.com">@qrohlf</a>

        %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
        %script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
