.container
    .navbar-header
        %a.navbar-brand{href: "/"}=settings.app_name
        %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
    #navbar-main.navbar-collapse.collapse
        %ul.nav.navbar-nav= haml :nav_ul, locals: {nav: settings.nav_left}
        %ul.nav.navbar-nav.navbar-right
            - unless @user.nil? then nav = {@user.email => {'Account Settings' => '/account', 'Log Out' => '/logout'}} 
            - else nav = {'Login' => '/login', 'Signup' => '/users/new'}
            = haml :nav_ul, locals: {nav: nav}