.col-md-6.col-md-offset-3
    %h1="Reset Password for #{user.email}"
    %form{method: 'post'}
        .form-group
        .form-group
            %label{for: "password"} New Password
            %input#password.form-control{placeholder: "password", type: "password", name: "password"}
        .form-group
            %label{for: "password_confirmation"} Confirm Password
            %input#password_confirmation.form-control{placeholder: "password", type: "password", name: "password_confirmation"}
        %button.btn.btn-primary{type: "submit"} Submit