%h1 Example Payment with Stripe
%p This page shows an example checkout button using Stripe's checkout.js payment flow.
%p You can try it out with one of the card numbers listed <a href="https://stripe.com/docs/testing#cards">here</a>.
- checkout_button 500, {name: 'Example Charge Name', description: 'Pretty slick, eh?', item: 'example_charge'}