.col-md-6.col-md-offset-3
    %form{method: 'post'}
        .form-group
            %label{for: "password"} Old Password
            %input#password.form-control{placeholder: "Old", type: "password", name: "old_password"}
        .form-group
            %label{for: "password"} New Password
            %input#password.form-control{placeholder: "New", type: "password", name: "password"}
        .form-group
            %label{for: "password"} Confirm New Password
            %input#password.form-control{placeholder: "Confirm New", type: "password", name: "password_confirmation"}
        %button.btn.btn-lg.btn-primary.center-block{type: "submit"} Log In